<div class="budget_item">
	<span class="description span-12">
		<%= f.label :description, :class => 'visuallyhidden' %> <%= f.text_field :description, 
			:placeholder => "Description" %>
	</span>
	<span class="estimated_cost span-5">
		<%= f.label :estimated_cost, :class => "span-3" %> 
		<span class="span-2 last">&pound;&nbsp;<%= f.text_field :estimated_cost,
		 	:placeholder => "0" %></span>
	</span>
	<span class="actual_cost span-5">
		<%= f.label :actual_cost, :class => "span-3" %> 
		<span class="span-2 last">&pound;&nbsp;<%= f.text_field :actual_cost, 
			:placeholder => "0" %></span>
	</span>	
	<%= f.hidden_field :position, :class => "position" %>
	<div class="actions span-2 last">
		<%= f.link_to_remove do %>
			<%= image_tag "icons/delete.png" %>
		<% end -%>
		<span class="handle"><%= image_tag "drag-drop-icon.gif" %></span>
	</div>
</div>