<div class="budget_item">
	
	<%= f.label :description %> 		<%= f.text_field :description %>
	<%= f.label :estimated_cost %> 	<%= f.text_field :estimated_cost %>
	<%= f.label :actual_cost %> 		<%= f.text_field :actual_cost %>
	<%= f.hidden_field :position, :class => "position" %>
	<%= f.link_to_remove "Remove this task" %>
	<span class="handle"><%= image_tag "drag-drop-icon.gif", :title => "drag to re-arrange" %></span>
</div>