<% content_for :javascript do %>
	<%= javascript_tag do %>
		
	<% end %>
<% end %>

<%= nested_form_for @budget do |f| %>
	<div id="budget_items">
		<%= f.fields_for :budget_items %>
	</div>
	<div id="budget_live_totals">
		<div id="estimated_total" class="span-6 prepend-11">
			<strong class="span-3">Estimated Total:</strong> 
			<span class="span-3 last"><input type="text" readonly="readonly" /></span>
		</div>
		<div id="actual_total" class="span-5 append-2 last">
			<strong>Actual Total:</strong> <input type="text" readonly=readonly</span>
		</div>
	</div>
	<p><%= f.link_to_add "Add a Budget Item", :budget_items %></p>
	<%= f.submit  %>
<% end %>