<ul id="mainmenu">
  <li class="toplevel"><a href="http://www.confetti.co.uk/" class="toplevellink">Home</a></li>
  <li class="shopmenu toplevel">
    <a href="http://shop.confetti.co.uk/" class="toplevellink"><%= image_tag "menu-shop.gif", :id => "shopicon" %> Online Shop</a><div class="menuchild">
      <div class="titlecol">
        <ul>
          <li class="active"><a href="#shopbyproduct-panel">Shop by Product &gt;</a></li>
          <li><a href="#stationeryshop-panel">Stationery Shop &gt;</a></li>
          <li><a href="#giftshop-panel">Gift Shop &gt;</a></li>
          <li><a href="#shopbycolour-panel">Shop by Colour &gt;</a></li>
          <li><a href="#">Shop by Theme &gt;</a></li>
          <li><a href="#">Shop by Person &gt;</a></li>
          <li><a href="#">Shop by Event &gt;</a></li>
          <li><a href="#">New Products &gt;</a></li>
          <li><a href="#">Offers &gt;</a></li>
          <li><a href="#">Shop by Brand &gt;</a></li>
        </ul>
      </div>

      <!-- SHOP BY PRODUCT -->
      <div id="shopbyproduct-panel" class="panel">
        <div class="col col1" style="width: 164px; background-color: #f3f3f3;">
          <ul>
            <li style="list-style-type:none; margin-left: -14px;"><a href="http://shop.confetti.co.uk/branch/shop-by-product"><strong>Shop by Product:</strong></a></li>
            <li><a href="http://shop.confetti.co.uk/branch/albums-and-guest-books">Albums &amp; Guest Books</a></li>
            <li><a href="http://shop.confetti.co.uk/category/wedding-books"> Wedding Books</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/bridal-accessories"> Bridal Accessories</a></li>
            <li><a href="http://shop.confetti.co.uk/category/bubbles"> Bubbles</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/candles-and-lighting"> Candles and Lighting</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/cake-accessories"> Cake Accessories</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/wedding-chocolate-and-confectionery"> Wedding Chocolate &amp; Confectionery</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/clothing"> Clothing</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/confetti"> Confetti</a></li>
          </ul>
        </div>
        <div class="col col2" style="width: 164px;">
          <ul>
            <li style="list-style-type:none; margin-left: -14px;">&nbsp;</li>
            <li><a href="http://shop.confetti.co.uk/category/disposable-cameras"> Disposable Cameras</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/wedding-favours"> Wedding Favours</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/wedding-jewellery"> Wedding Jewellery</a></li>
            <li><a href="http://shop.confetti.co.uk/category/keepsakes"> Keepsakes</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/party-supplies"> Party Supplies</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/personalised-wedding"> Personalised Wedding</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/petals"> Petals</a></li>
            <li><a href="http://shop.confetti.co.uk/category/wedding-planners"> Wedding Planners</a></li>
            <li><a href="http://shop.confetti.co.uk/category/ribbons"> Ribbons</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/table-decorations"> Table Decorations</a></li>
          </ul>
        </div>
        <div class="col col3" style="width: 164px; background-color: #f3f3f3;">
          <ul>
            <li style="list-style-type:none; margin-left: -14px;">&nbsp;</li>
            <li><a href="http://shop.confetti.co.uk/branch/table-planning"> Table Planning</a></li>
            <li><a href="http://shop.confetti.co.uk/category/wedding-fireworks"> Wedding Fireworks</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/stationery-shop"> Stationery Shop</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/hen"> Hen</a></li>
            <li><a href="http://shop.confetti.co.uk/category/wedding-gift-wrap-and-occasion-cards"> Wedding Gift Wrap &amp; Occasion Cards</a></li>
            <li><a href="http://shop.confetti.co.uk/category/wedding-flowers"> Wedding Flowers</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/wedding-decorations"> Wedding Decorations</a></li>
          </ul>
        </div>

          <a href="#"><img data-src="<%= asset_path 'promo.jpg' %>" width="270" height="212" style="margin-top: 28px;" border="0" /></a>

      </div>


      <!-- STATIONERY SHOP -->
      <div id="stationeryshop-panel" class="panel" style="display: none;">
        <div class="col col1" style="width: 164px; background-color: #f3f3f3;">
          <ul>
            <li style="list-style-type:none; margin-left: -14px;"><a href="http://shop.confetti.co.uk/branch/stationery-shop"><strong>Stationery Shop:</strong></a></li>
            <li><a href="http://shop.confetti.co.uk/branch/albums-and-guest-books"> Professionally Printed</a></li>
            <li><a href="http://shop.confetti.co.uk/category/wedding-books"> Create Your Own</a></li>
            <li><a href="http://shop.confetti.co.uk/category/wedding-books"> Professionally Printed Samples</a></li>
            <li><a href="http://shop.confetti.co.uk/category/wedding-books"> Mandalay Samples</a></li>
          </ul>
        </div>
        <div class="col col2 wow" style="width: 164px;line-height: 1.2;">
          <p style="text-align:center;"><a href="#" style="color: #000;font-size: 15px;text-decoration: none; margin-top:5px;">
          	<img src="<%= asset_path 'free.png' %>" alt="Free!" /><br /><strong>Professionally Printed Stationery Samples &gt;</strong></a>
          </p>
          <p style="text-align:center; margin-top:30px;"><a href="#" style="color: #000;font-size: 14px;text-decoration: none;">
          	<img src="<%= asset_path 'free-smaller.png' %>" alt="Free!" /><br /><strong>Mandalay Stationery Samples &gt;</strong></a>
          </p>
        </div>
      </div>

      <!-- GIFT SHOP -->
      <div id="giftshop-panel" class="panel" style="display: none;">
        <div class="col col1" style="width: 164px; background-color: #f3f3f3;">
          <ul>
            <li style="list-style-type:none; margin-left: -14px;"><a href="http://shop.confetti.co.uk/branch/gift-shop"><strong>Gift Shop:</strong></a></li>
            <li><a href="http://shop.confetti.co.uk/category/bridal-gifts"> Bridal Gifts</a></li>
            <li><a href="http://shop.confetti.co.uk/category/gifts-for-groom"> Gifts for Groom</a></li>
            <li><a href="http://shop.confetti.co.uk/category/gifts-for-bride-and-groom"> Gifts for Bride and Groom</a></li>
            <li><a href="http://shop.confetti.co.uk/category/gifts-for-bridesmaids"> Gifts for Bridesmaids</a></li>
            <li><a href="http://shop.confetti.co.uk/category/gifts-for-best-man"> Gifts for Best Man</a></li>
            <li><a href="http://shop.confetti.co.uk/category/gifts-for-ushers"> Gifts for Ushers</a></li>
            <li><a href="http://shop.confetti.co.uk/category/gifts-for-page-boys"> Gifts for Page Boys</a></li>
            <li><a href="http://shop.confetti.co.uk/category/gifts-for-mothers"> Gifts for Mothers</a></li>
            <li><a href="http://shop.confetti.co.uk/category/gifts-for-fathers"> Gifts for Fathers</a></li>
          </ul>
        </div>      	
        <div class="col col2" style="width: 164px;">
          <ul>
            <li style="list-style-type:none; margin-left: -14px;">&nbsp;</li>
            <li><a href="http://shop.confetti.co.uk/category/gifts-for-children"> Gifts for Children</a></li>
            <li><a href="http://shop.confetti.co.uk/category/novelty-wedding-gifts"> Novelty Wedding Gifts</a></li>
            <li><a href="http://shop.confetti.co.uk/branch/personalised-wedding-gifts"> Personalised Wedding Gifts</a></li>
          </ul>
        </div>
      </div>
      <div class="panel" id="shopbycolour-panel" style="display: none;">
        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="777">
          <tr>
           <td><img data-src="<%= asset_path 'shopbycolour/spacer.gif' %>" width="114" height="1" border="0" alt=""></td>
           <td><img data-src="<%= asset_path 'shopbycolour/spacer.gif' %>" width="109" height="1" border="0" alt=""></td>
           <td><img data-src="<%= asset_path 'shopbycolour/spacer.gif' %>" width="108" height="1" border="0" alt=""></td>
           <td><img data-src="<%= asset_path 'shopbycolour/spacer.gif' %>" width="114" height="1" border="0" alt=""></td>
           <td><img data-src="<%= asset_path 'shopbycolour/spacer.gif' %>" width="110" height="1" border="0" alt=""></td>
           <td><img data-src="<%= asset_path 'shopbycolour/spacer.gif' %>" width="110" height="1" border="0" alt=""></td>
           <td><img data-src="<%= asset_path 'shopbycolour/spacer.gif' %>" width="112" height="1" border="0" alt=""></td>
           <td><img data-src="<%= asset_path 'shopbycolour/spacer.gif' %>" width="1" height="1" border="0" alt=""></td>
          </tr>

          <tr>
           <td><a href="http://shop.confetti.co.uk/branch/black"><img name="productcolours_r1_c1" data-src="<%= asset_path 'shopbycolour/product-colours_r1_c1.jpg' %>" width="114" height="130" border="0" alt=""></a></td>
           <td><a href="http://shop.confetti.co.uk/branch/blue"><img name="productcolours_r1_c2" data-src="<%= asset_path 'shopbycolour/product-colours_r1_c2.jpg' %>" width="109" height="130" border="0" alt=""></a></td>
           <td><a href="http://shop.confetti.co.uk/category/chocolate"><img name="productcolours_r1_c3" data-src="<%= asset_path 'shopbycolour/product-colours_r1_c3.jpg' %>" width="108" height="130" border="0" alt=""></a></td>
           <td><a href="http://shop.confetti.co.uk/branch/gold"><img name="productcolours_r1_c4" data-src="<%= asset_path 'shopbycolour/product-colours_r1_c4.jpg' %>" width="114" height="130" border="0" alt=""></a></td>
           <td><a href="http://shop.confetti.co.uk/category/green"><img name="productcolours_r1_c5" data-src="<%= asset_path 'shopbycolour/product-colours_r1_c5.jpg' %>" width="110" height="130" border="0" alt=""></a></td>
           <td><a href="http://shop.confetti.co.uk/branch/ivory"><img name="productcolours_r1_c6" data-src="<%= asset_path 'shopbycolour/product-colours_r1_c6.jpg' %>" width="110" height="130" border="0" alt=""></a></td>
           <td><a href="http://shop.confetti.co.uk/category/oranges"><img name="productcolours_r1_c7" data-src="<%= asset_path 'shopbycolour/product-colours_r1_c7.jpg' %>" width="112" height="130" border="0" alt=""></a></td>
           <td><img data-src="shopbycolour/spacer.gif" width="1" height="130" border="0" alt=""></td>
          </tr>
          <tr>
           <td><a href="http://shop.confetti.co.uk/branch/pinks"><img name="productcolours_r2_c1" data-src="<%= asset_path 'shopbycolour/product-colours_r2_c1.jpg' %>" width="114" height="129" border="0" alt=""></a></td>
           <td><a href="http://shop.confetti.co.uk/branch/purple"><img name="productcolours_r2_c2" data-src="<%= asset_path 'shopbycolour/product-colours_r2_c2.jpg' %>" width="109" height="129" border="0" alt=""></a></td>
           <td><a href="http://shop.confetti.co.uk/branch/red"><img name="productcolours_r2_c3" data-src="<%= asset_path 'shopbycolour/product-colours_r2_c3.jpg' %>" width="108" height="129" border="0" alt=""></a></td>
           <td><a href="http://shop.confetti.co.uk/branch/silver"><img name="productcolours_r2_c4" data-src="<%= asset_path 'shopbycolour/product-colours_r2_c4.jpg' %>" width="114" height="129" border="0" alt=""></a></td>
           <td><a href="http://shop.confetti.co.uk/branch/white"><img name="productcolours_r2_c5" data-src="<%= asset_path 'shopbycolour/product-colours_r2_c5.jpg' %>" width="110" height="129" border="0" alt=""></a></td>
           <td><a href="http://shop.confetti.co.uk/category/yellow"><img name="productcolours_r2_c6" data-src="<%= asset_path 'shopbycolour/product-colours_r2_c6.jpg' %>" width="110" height="129" border="0" alt=""></a></td>
           <td><img name="productcolours_r2_c7" data-src="<%= asset_path 'shopbycolour/product-colours_r2_c7.jpg' %>" width="112" height="129" border="0" alt=""></td>
           <td><img data-src="shopbycolour/spacer.gif" width="1" height="129" border="0" alt=""></td>
          </tr>
        </table>
      </div>
    </div>
  </li>
  <li class="toplevel"><a href="http://www.confetti.co.uk/category/view/8152-0-Wedding_Dresses___Fashion.do" class="toplevellink">Fashion</a></li>
  <li class="active toplevel"><a href="http://www.confetti.co.uk/category/view/8886-0-Venues___Suppliers.do" class="toplevellink">Venues &amp; Suppliers</a></li>
  <li class="toplevel"><a href="http://www.confetti.co.uk/category/view/8157-0-Honeymoons.do" class="toplevellink">Honeymoons</a></li>
  <li class="toplevel"><a href="http://www.confetti.co.uk/category/view/8157-0-Honeymoons.do" class="toplevellink">Health &amp; Beauty</a></li>
  <li class="toplevel"><a href="http://www.confetti.co.uk/category/view/8256-0-Gift_Lists.do" class="toplevellink">Gift Lists</a></li>
  <li class="toplevel"><a href="http://www.confetti.co.uk/category/view/8146-0-Ideas___Inspiration.do" class="toplevellink">Inspiration</a></li>
  <li class="toplevel"><a href="http://www.confetti.co.uk/category/view/8148-0-Planning__amp__Advice.do" class="toplevellink">Planning</a></li>
  <li class="toplevel"><a href="http://www.confetti.co.uk/category/view/8149-0-Your_Weddings___Forums.do" class="toplevellink">My Confetti</a></li>
  <li class="toplevel"><a href="http://www.confetti.co.uk/category/view/8149-0-Your_Weddings___Forums.do" class="toplevellink">Forums</a></li>
</ul>
<% content_for :javascript do %>
	<script>
	function menuPageOverlay() {
	if ($("#pageoverlay").length) {
		$("#pageoverlay").remove();
	} else {
		$("body").append('<div id="pageoverlay"></div>');
		$("#pageoverlay").click(function() {
			$(".menuchild").hide();
			$("#mainmenu > li > a.on").removeClass("on");
			$(this).remove();
		});
	}
	}
	function delayedImageLoad() {
	$("img[data-src]").each(function() {
		$(this).attr("src", $(this).data("src"));
	});
	}
	(function() {
		$(function() {
			if (!(/MSIE 6/i.test(navigator.userAgent))) {
				$("#mainmenu > li:has(div.menuchild)").click(function() { 
					var colheight;
					$(">a", this).toggleClass("on");
					$(".menuchild", this).toggle();
					colheight = $(".menuchild", this).css("height");
					$(".col, .titlecol", this).css("height", colheight);
					menuPageOverlay();
					return false;
				});
				$(".titlecol li").click(function() {
						var panelID = $("a", this).attr("href");
						$(".panel").hide();
						$(panelID).fadeIn();
						$(".titlecol li").removeClass("active");
						$(this).addClass("active");
						return false;
				});
				$("#mainmenu > li:last-child").addClass("last");
			}
		});
		delayedImageLoader = setTimeout(delayedImageLoad, 100);
	}())
	</script>
<% end %>