<!DOCTYPE html>
<html>
	<head>
 		<title>WeddingPlanner</title>
 		<%= stylesheet_link_tag "application-all", :media => "all" %>
		<%= stylesheet_link_tag "application-print", :media => "print" %>
		<!--[if lte IE 8]>
    	<%= stylesheet_link_tag "application-ie", :media => "all" %>
		<![endif]-->
		<%= stylesheet_link_tag "http://www.confetti.co.uk/css/style.css", :media => "all" %>
 		<%= javascript_include_tag "application" %>
 		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="container" class="container">
			<%= render :partial => 'shared/header' %>

			<div id="content" class="span-19">
				<%= render :partial => 'shared/error_messages' %>

				<%= yield %>
			</div>
			<div id="appmenu" class="span-5">
				<%= render :partial => 'shared/app-menu' %>
			</div>
		</div>
		<%= render :partial => 'shared/footer' %>
		<%= yield :javascript %>
	</body> 
</html>
