<!DOCTYPE html>
<html>
	<head>
 		<title>WeddingPlanner</title>
 		<%= stylesheet_link_tag "application-all", :media => "all" %>
		<%= stylesheet_link_tag "application-print", :media => "print" %>
		<!--[if lte IE 8]>
    	<%= stylesheet_link_tag "application-ie", :media => "all" %>
		<![endif]-->
 		<%= javascript_include_tag "application" %>
 		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<%= render :partial => 'shared/header' %>
			
			<div id="content" class="span-24">
				<%= render :partial => 'shared/error_messages' %>

				
				<%= yield %>
			</div>
			
			<footer>
				&copy; Copyright <%= Time.now.year %> Confetti Celebration Ltd.
			</footer>
		</div>
		<%= yield :javascript %>
	</body>
</html>
