<!DOCTYPE html>
<html>
	<head>
 		<title>WeddingPlanner</title>
 		<%= stylesheet_link_tag "application-all", :media => "all" %>
		<%= stylesheet_link_tag "application-print", :media => "print" %>
		<!--[if lte IE 8]>
    	<%= stylesheet_link_tag "application-ie", :media => "all" %>
		<![endif]-->
 		<%= javascript_include_tag "application" %>
 		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<%= render :partial => 'shared/header' %>



			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>

			<%= yield %>
		</div>
		<%= yield :javascript %>
	</body>
</html>
